.Header {
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 80px;
  border-bottom: 1px solid rgba(#2f3135, 0.5);
  box-shadow: 0px 0px 5px 0px rgb(118, 118, 118);
}

.logo {
  margin-top: 6px;
  padding: 20px;
  height:80px;
  width: 200px;
}

.logoImg {
  width:100%;
}