/* ul > li {
  display: inline-block;
}

li {
  padding-left: 20px;
} */

* {
  color: #0D0D0D;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

h1 {
  font-size: 8vw;
  text-align: center;
}

h2 {
  font-size: 5vw;
  text-align: center;
  margin-bottom: 5px;
}

button {
  background-color: transparent;
  border: 1px solid rgb(168, 166, 166);
  border-radius: 2px;
  color: #232323;
  margin: 3px;
  padding: 3px;
  box-shadow: 0 1px rgb(225, 224, 224);
}

button:hover {
  background-color: rgb(247, 244, 244);
}

button:active {
  box-shadow: 0 .2px #666;
  transform: translateY(.4px);
}

.rickPicRight {
  width: 5%;
  margin-left: 5px;
}

.cart {
  display: flex;
  flex-direction: row;
  position: relative;
  float: right;
  top: 10px;
  margin-right: 5px;
  padding: 0px;
}

.cartButton {
  width: 25px;
  display: flex;
}

.quantity {
  position: relative;
  font-size: .5em;
  margin: 1px;
}

.rickPicLeft {
  width: 5%;
  margin-right: 5px;
  transform: scaleX(-1);
}

.header {
  margin-top: 10px;
  display: flex;
}

.display {
  background-color: #F8F8F8;
  border: solid 1px #e0dcdc;
  border-radius: 5px;
  margin: auto;
  width: 90%;
  height: 90%;
  padding: 5px;
}

.card {
  color: #232323;
  display: flex;
  flex-direction: column;
  background-color:white;
  border: 1px solid white;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 5px 5px 5px rgba(26,115,232,0.06);
  /* width: 95%; */
  text-align: center;
}

/* .rickRoll {
  position: absolute;
  top: 150;
  left: 0;
  width: 100%;
  height: 100%;
} */

.cardLayout{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 20%));
  margin: auto;
  /* flex-wrap: wrap;
  justify-content: space-evenly; */
}

/* .values{
  color: #232323;
  border: solid 1px #808080;
  border-radius: 0px;
  width: 100%;
  text-align: center;
  margin-left: -1px;
}

.label {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  font-weight: bold;
} */



/* 
#quantity:hover > .buttonContainer {
  display: inline-block;
}

#quantity {
  display: inline-block;
} */



